#topbar {
    background: rgb(125, 167, 206);
    background: linear-gradient(90deg, rgba(125, 167, 206, 1) 35%, rgba(14, 119, 217, 1) 100%);
}

.circle {
    background: rgb(186, 217, 252);
    background: radial-gradient(circle, rgba(14, 119, 217, 1) 5%, rgba(14, 119, 217, 1) 5%, rgba(186, 217, 252) 100%);
}

*:focus {
    outline: none;
}

.mainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: #f0f0f0; */
}

.btn{
    position: relative;
    width: 200px;
    height: 50px;
    background: #3498db;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid #2980b9;
    border-left: 0.5px solid #2980b9;
    padding-left: 40px;
    transition: 0.5s;
}

.btn:active{
    padding-left: 0px;
    padding-right: 40px;
    color: #3498db;
}

.btn span{
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #04fe4d;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.btn:active span{
    left: calc(100% - 0px);
    /* right: 0 */
}

.wrapper .rsbContainer{
    background: #D15439;
    color: #fff;
}

.wrapper .rsbContainer .rsbcText{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

/* .ReactSwipeButton .rsbContainer .rsbcSlider .rsbcSliderCircle{
    background: #fff;
    margin: 3px;
} */

.wrapper .rsbContainerUnlocked .rsbcSlider {
    background: #fff;
    padding: 4px;
}