#topbar {
    background: rgb(125, 167, 206);
    background: linear-gradient(90deg, rgba(125, 167, 206, 1) 35%, rgba(14, 119, 217, 1) 100%);
}

.circle {
    background: rgb(186, 217, 252);
    background: radial-gradient(circle, rgba(14, 119, 217, 1) 5%, rgba(14, 119, 217, 1) 5%, rgba(186, 217, 252) 100%);
}

*:focus {
    outline: none;
}

.wrapper .rsbContainer{
    background: #D15439;
    color: #fff;
}

.wrapper .rsbContainer .rsbcText{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

/* .ReactSwipeButton .rsbContainer .rsbcSlider .rsbcSliderCircle{
    background: #fff;
    margin: 3px;
} */

.wrapper .rsbContainerUnlocked .rsbcSlider {
    background: #fff;
    padding: 4px;
}